*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* background colors; */
    --bg-primary-color: #232323;

    /* Text colors */
    --text-primary-color: #eeeeee;

    /* Size variables */
    --size-very-small : 1px;
    --size-xxxs : 2px;
    --size-xxs : 4px;
    --size-xs : 8px;
    --size-sm : 16px;
    --size-md : 24px;
    --size-lg : 32px;
    --size-xl : 48px;
    --size-2xl : 64px;
    --size-3xl : 96px;  

    /* padding/margin/gap variables */
    --space-none :0px;
    --space-xxxs : 1px;
    --space-xxs : 2px;
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 40px;
    --space-3xl : 48px;
    
    /* Border Color */
    --border-primary-color : #333333;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section{
    width:100%;
    height: 100%;
}
section{
    padding : var(--space-2xl) ;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap : var(--space-md);

}
.Info-Panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* //to remove border */
    /* border: 2px solid var(--border-color); */

}

.info-panel-item{
    border:var(--space-xxxs) solid var(--border-primary-color);
    padding: var(--space-sm);
    border-radius: var(--border-radius-sm);
    font-size: var(--size-md);
}

.Board-Container{
    border: var(--space-xxxs) solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--size-lg), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--size-lg), 1fr));
}

.block{
    height: var(--size-lg);
    width: var(--size-lg);
    border: var(--size-very-small) solid var(--border-primary-color);
}